<div class="container">
  <h2 class="text-white">New Movie</h2>
  <%= render 'form', movie: @movie %>
  <div class="col-md-3">
    <%= link_to 'Back', movies_path, class:"btn btn-primary btn-sm text-white" %>
  </div>
</div>