<div class="container">
<p class="text-white"> Netflix best movies according The New York Times news paper are the following: </p>
<table data-toggle="table" class="table table-bordered table-dark sortable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th data-sortable="true">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Release Date</th>
      <th scope="col">IMDb Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <img width="150" height="150" src="assets/the_dark_knight.jpg">
        <a class="text-info" href="https://www.netflix.com/title/70079583">The Dark Knight</a>
      </td>
      <td>Action, Crime, Drama</td>
      <td>18 July 2008 (USA)</td>
      <td>9.0</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td><a class="text-info" href="https://www.netflix.com/title/21878564">Saving Private Ryan</a></td>
      <td>Drama, War</td>
      <td>24 July 1998 (USA)</td>
      <td>8.6</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80091741">13TH</a></td>
      <td>Documentary, Crime, History</td>
      <td>7 October 2016 (USA)</td>
      <td>8.3</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80223779">Marriage Story</a></td>
      <td>Comedy, Drama, Romance</td>
      <td> 6 December 2019 (USA)</td>
      <td>7.9</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80175798">The Irishman</a></td>
      <td>Biography, Crime, Drama</td>
      <td>27 November 2019 (USA)</td>
      <td>7.8</td>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td><a class="text-info" href="https://www.netflix.com/title/81001496">Crip Camp: A Disability Revolution</a></td>
      <td>Documentary</td>
      <td>25 March 2020 (USA)</td>
      <td>7.7</td>
    </tr>

    <tr>
      <th scope="row">7</th>
      <td><a class="text-info" href="https://www.netflix.com/title/70132721">The Social Network</a></td>
      <td>Biography, Drama</td>
      <td>1 October 2010 (USA)</td>
      <td>7.7</td>
    </tr>

    <tr>
      <th scope="row">8</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80234465">Dick Johnson Is Dead</a></td>
      <td>Documentary, Drama</td>
      <td>2 October 2020 (USA)</td>
      <td>7.5</td>
    </tr>

    <tr>
      <th scope="row">9</th>
      <td><a class="text-info" href="https://www.netflix.com/title/70117312">Scott Pilgrim vs. the World</a></td>
      <td>Action, Comedy, Fantasy</td>
      <td>13 August 2010 (USA)</td>
      <td>7.5</td>
    </tr>

    <tr>
      <th scope="row">10</th>
      <td><a class="text-info" href="https://www.netflix.com/title/81090071">American Factory</a></td>
      <td>Documentary</td>
      <td>21 August 2019 (USA)</td>
      <td>7.4</td>
    </tr>

    <tr>
      <th scope="row">11</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80990663">Uncut Gems</a></td>
      <td>Crime, Drama, Thriller</td>
      <td>25 December 2019 (USA)</td>
      <td>7.4</td>
    </tr>

    <tr>
      <th scope="row">12</th>
      <td>
        <%# <img width="100" height="100" src="assets/sky_ladder.jpg"> %>
        <a class="text-info" href="https://www.netflix.com/title/80097472">Sky Ladder: The Art of Cai Guo-Qiang</a>
      </td>
      <td>Documentary</td>
      <td>14 October 2016 (UK)</td>
      <td>7.3</td>
    </tr>

    <tr>
      <th scope="row">13</th>
      <td><a class="text-info" href="https://www.netflix.com/title/70112732">Julie & Julia</a></td>
      <td>Biography, Drama, Romance</td>
      <td>7 August 2009 (USA)</td>
      <td>7.0</td>
    </tr>

    <tr>
      <th scope="row">14</th>
      <td><a class="text-info" href="https://www.netflix.com/title/81100780">Ma Rainey's Black Bottom</a></td>
      <td>Drama, Music</td>
      <td>18 December 2020 (USA)</td>
      <td>7.0</td>
    </tr>

    <tr>
      <th scope="row">15</th>
      <td><a class="text-info" href="https://www.netflix.com/title/81038963">The Old Guard</a></td>
      <td> Action, Adventure, Fantasy</td>
      <td>10 July 2020 (USA)</td>
      <td>6.7</td>
    </tr>

    <tr>
      <th scope="row">16</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80211559">I'm Thinking of Ending Things</a></td>
      <td>Drama, Thriller</td>
      <td>4 September 2020 (USA)</td>
      <td>6.6</td>
    </tr>

    <tr>
      <th scope="row">17</th>
      <td><a class="text-info" href="https://www.netflix.com/title/81045635">Da 5 Bloods</a></td>
      <td>Adventure, Drama, War</td>
      <td>12 June 2020 (USA)</td>
      <td>6.5</td>
    </tr>

    <tr>
      <th scope="row">18</th>
      <td><a class="text-info" href="https://www.netflix.com/title/81231197">His House</a></td>
      <td>Drama, Horror, Thriller</td>
      <td>30 October 2020 (USA)</td>
      <td>6.5</td>
    </tr>

    <tr>
      <th scope="row">19</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80991400">High Flying Bird</a></td>
      <td>Drama, Sport</td>
      <td>8 February 2019 (USA)</td>
      <td>6.2</td>
    </tr>

    <tr>
      <th scope="row">20</th>
      <td><a class="text-info" href="https://www.netflix.com/title/80189623">The Death and Life of Marsha P. Johnson</a></td>
      <td>Drama</td>
      <td>13 December 2019 (USA)</td>
      <td>6.2</td>
    </tr>
    
  </tbody>
</table>
</div>