<div class="container">
  <h2 class="text-white"> New review </h2>
  <%= render 'form' %>
  <br>
  <div class="col-md-3">
    <%= link_to 'Back', movies_path, class:"btn btn-primary btn-sm text-white" %> 
  </div>
</div>
